<ion-view view-title="New User">
  <ion-content>
    <body>
    <h4 align="center">Create User</h4>
    <form ng-controller="formCtrl" ng-submit="process()" name="userform" id="userform" method="POST">
    <label>First Name</label>
    <input type="text" name="firstName" ng-model="formData.firstName">
    <label>Last Name</label>
    <input type="text" name="lastName" ng-model="formData.lastName">
    <label>Password</label>
    <input type="text" name="password" ng-model="formData.password">
    <button type="submit" class=" button button-block button-royal">Submit</button>
    </form>
        <pre>
            {{formData}}
        </pre>
    </body>
      
  </ion-content>
</ion-view>
